-- Check what partnerships exist
SELECT id, organization_name, status, partnership_type, created_at 
FROM partnership_applications 
ORDER BY created_at DESC;

-- Example of how to update (replace the UUID with your actual one):
-- UPDATE partnership_applications 
-- SET status = 'active', updated_at = NOW() 
-- WHERE id = '12345678-1234-1234-1234-123456789abc';
