-- Create partner-logos bucket
INSERT INTO storage.buckets (id, name, public)
VALUES ('partner-logos', 'partner-logos', true)
ON CONFLICT (id) DO NOTHING;

-- Update status constraint to allow 'active'
ALTER TABLE partnership_applications 
DROP CONSTRAINT IF EXISTS partnership_applications_status_check;

ALTER TABLE partnership_applications 
ADD CONSTRAINT partnership_applications_status_check 
CHECK (status IN ('pending', 'active', 'approved', 'rejected'));
